{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}

<img src="static/main.png" alt="main" style="width: 100%;"/>

{% if DEBUG %}
<table>
    <tr>
        <th>id</th>
        <th>name</th>
        <th>hash</th>
    </tr>
{% for row in users_debug %}
<tr>
  <td>{{ row['id'] }}</td>
  <td>{{ row['name'] }}</td>
  <td>{{ row['hash'] }}</td>
</tr>
{% endfor %}
</table>

<table>
    <tr>
        <th>id</th>
        <th>user_id</th>
        <th>title</th>
    </tr>
{% for row in tracks_debug %}
<tr>
  <td>{{ row['id'] }}</td>
  <td>{{ row['user_id'] }}</td>
  <td>{{ row['title'] }}</td>
</tr>
{% endfor %}
</table>

<table>
    <tr>
        <th>id</th>
        <th>track_id</th>
        <th>idx</th>
        <th>tracktype</th>
    </tr>
{% for row in layouts_debug %}
<tr>
  <td>{{ row['id'] }}</td>
  <td>{{ row['track_id'] }}</td>
  <td>{{ row['idx'] }}</td>
  <td>{{ row['tracktype'] }}</td>
</tr>
{% endfor %}
</table>
{% endif %}

{% endblock %}