{% extends "layout.html" %}

{% block title %}
    Rename track
{% endblock %}

{% block main %}
<form action="/rename" method="post">
    <div class="mb-3">
        <select class="form-select" name="track_id" placeholder="Title">
            {% for track in tracks %}
                <option value="{{ track.id }}">{{ track.title }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="mb-3">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="new_title" placeholder="New title" type="text">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}