{% extends "layout.html" %}

{% block title %}
    Edit {{title}}
{% endblock %}

{% block main %}
    <form action="/track_edit" method="post">
      <div class="button-container">
        <input class="edit_buttons_top" type ="submit" name="left"     value = "Left curve &ShortLeftArrow; ({{ counter.curve }} / {{ user_lib.curve }})">
        <input class="edit_buttons_top" type ="submit" name="straight" value = "Straight &ShortUpArrow;  ({{ counter.straight }} / {{ user_lib.straight }})">
        <input class="edit_buttons_top" type ="submit" name="right"    value = "Right curve &ShortRightArrow;  ({{ counter.curve }} / {{ user_lib.curve }})">
        <input class="edit_buttons_top" type ="submit" name="switch"   value = "Switch  ({{ counter.switch }} / {{ user_lib.switch }})">
        <input class="edit_buttons_top" type ="submit" name="crossing" value = "Crossing  ({{ counter.crossing }} / {{ user_lib.crossing }})">
      </div>
      <div class="button-container">
        <input class="edit_buttons_bottom" type ="submit" name="rotate"      value = "Rotate piece &circlearrowright;">
        <input class="edit_buttons_bottom" type ="submit" name="next_ending" value = "Next ending &#x23E9;">
        <input class="edit_buttons_bottom" type ="submit" name="save"     value = "Save &#128190;">
        <input class="edit_buttons_bottom" type ="submit" name="delete"   value = "Delete &#10060;">
      </div>
    </form>

    <br>
    <canvas id="drawingCanvas" width="500" height="500"></canvas>
    <script>
        function drawElement(path, color) {
            const canvas = document.getElementById('drawingCanvas');
            const ctx = canvas.getContext('2d');

            ctx.strokeStyle = color;
            
            ctx.beginPath();
            for (let i = 0; i < path.length; i++) {
              // HTML canvas is inverted
              ctx.lineTo(path[i].x, 500 - path[i].y);
            }
            ctx.closePath();             

            ctx.stroke();
        }

        // Draw the Circle       
        {% for el in pathes %}
        drawElement({{el.path | tojson}}, '{{el.color}}');
        {% endfor %}
    </script>
{% endblock %}